/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}

.ui-autocomplete {
	position: static;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item a {
    padding-right: 20px;
    white-space: nowrap;
}